body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161C21;
    color: #333;
}

header {
    background: linear-gradient(to right, #a526ab, #ff5f94); /* Fondo degradado */
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 10px;
}

header .logo img {
    max-width: 60px;
    border-radius: 50%;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacio adicional para bajar el botón */
}
h1 {
    font-size: 24px;
    margin: 0;
}

main {
    padding: 20px;
}

.contenedor-articulos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
    overflow: hidden;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .imagen-producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .contenido-producto {
    padding: 15px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.card .precio {
    font-size: 16px;
    font-weight: bold;
    color: #e53935;
}

.card .btn-agregar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}

.card .btn-agregar:hover {
    background-color: #0056b3;
}
