* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('fotoInicio.png') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background-color: #ffffff; /* Fondo blanco */
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: 300;
    font-size: 2rem;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 1.1rem;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-group button {
    width: 100%;
    padding: 15px;
    background-color: #f5f5dc;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #e0e0c7;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #b38b6d;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
